@import url(http://twitter.github.com/bootstrap/assets/css/bootstrap.css);
/*#######################*/
/*#       IMPORT        #*/
/*#######################*/
/*#F7A641;*/
/*#######################*/
/*#       GENERAL       #*/
/*#######################*/
/* -- >links */
/* --> Fonts */
/*#######################*/
/*#        PANEL        #*/
/*#######################*/
/* --> ressources */
/* Need to be local (in assets forlder) */
/*Need to be local (in assets forlder)*/
/* --> Colors */
/* --> background */
/* --> sizes */
/*#######################*/
/*#       CONTENT       #*/
/*#######################*/
/* --> Colors */
/* --> sizes */
/* Post font size where is type is list (like hobbies, skills or informations)*/
/*#######################*/
/*#        FOOTER       #*/
/*#######################*/
/*#######################*/
/*#       GENERAL       #*/
/*#######################*/
html {
  /*
*/
  /*overflow: hidden;*/
}
body {
  background-color: #000000;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  /*position: relative;*/
}
body a {
  color: #73181e;
}
body a:hover {
  color: #ec752b;
  text-decoration: none;
}
table {
  margin-left: auto;
  margin-right: auto;
}
td img,
th img {
  padding: 10px;
  text-align: center;
}
.colonne {
  padding: 0;
}
.italique {
  font-style: italic;
}
.bold {
  font-style: bold;
}
/*#######################*/
/*#        PANEL        #*/
/*#######################*/
#ribbon {
  position: fixed;
  top: 0;
  left: 0;
  border: 0;
  z-index: 9999;
}
@media (max-width: 992px) {
  #ribbon {
    position: absolute;
  }
}
#panel {
  color: #ffffff;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  z-index: 1000;
  height: 100%;
}
@media (min-width: 992px) {
  #panel {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 25%;
  }
}
#panel a {
  color: #ec752b;
}
#panel a:hover {
  color: #0c710f;
}
.panel-background-image {
  height: 100%;
  position: fixed;
  display: block;
  width: 25%;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.5;
  background: url("/assets/slave_one.png");
  background-size: 100% 100%;
}
@media (max-width: 992px) {
  .panel-background-image {
    display: none;
  }
}
.panel-avatar {
  background-image: url("/assets/bobafett.jpg");
  background-repeat: no-repeat;
  background-size: 180px 180px;
  height: 180px;
  width: 180px;
  margin-top: 50px;
  /*margin-bottom: 60px;*/
  margin-right: auto;
  margin-left: auto;
  display: block;
  border-radius: 100%;
  border-radius: 4px solid #e5e5e5;
  transition: all 400ms ;
  -moz-transition: all 400ms ;
  -ms-transition: all 400ms ;
  -webkit-transition: all 400ms ;
  -o-transition: all 400ms ;
}
a:hover .panel-avatar {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
.panel-name {
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
}
.panel-social {
  padding: 0px;
  margin: 0px;
  width: 100%;
  text-align: center;
  font-size: 36px;
}
.panel-social li {
  display: inline-block;
  margin: 0px;
  list-style: none;
}
.panel-summary {
  text-align: center;
  font-size: 24px;
  color: #1d9722;
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .panel-summary {
    margin-bottom: 20px;
  }
}
@media (max-height: 730px) {
  #navbar {
    display: none;
  }
}
@media (max-width: 992px) {
  #navbar {
    display: none;
  }
}
#navbar ul {
  margin-top: 0px;
  text-align: center;
  padding: 0 !important;
}
#navbar ul li {
  list-style-type: none;
  margin-bottom: 8px;
  margin-top: 0px;
  font-weight: 300;
  font-size: 30px;
  padding: 0 !important;
}
#navbar ul li:hover {
  text-decoration: none;
  font-size: 30px;
}
#navbar .active a {
  font-weight: bold;
}
.nav > li > a {
  padding: 0px;
}
.nav > li > a:hover {
  padding: 0px;
  background-color: transparent;
}
/*#######################*/
/*#       CONTENT       #*/
/*#######################*/
#content {
  padding: 20px 10px 20px 60px;
  color: #000000;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  #content {
    padding: 0px;
  }
}
#content a {
  color: #73181e;
}
#content a:hover {
  color: #ec752b;
}
#content img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#content h2 {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: #a62a2c;
  padding: 0px;
  padding-bottom: 10px;
  font-style: bold;
  border-bottom: 1px solid #e5e5e5;
  font-weight: bold;
}
#content h2 i {
  color: #a62a2c;
}
.content-quote {
  width: 100%;
  text-align: justify;
  font-weight: 300;
  font-size: 20px;
  padding: 40px;
  font-style: italic;
  color: #b12f34;
  font-family: Georgia, serif;
}
@media (max-width: 768px) {
  .content-quote {
    padding: 30px;
  }
}
.content-posts {
  min-height: 200px;
  padding: 30px;
  margin-bottom: 10px;
  list-style-type: none;
}
@media (max-width: 992px) {
  .content-posts {
    padding: 0px;
  }
}
.content-posts i {
  color: #000000;
}
.content-skills {
  padding: 0;
  text-align: center;
}
#skills h3 {
  margin: 10px;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.content-skills ul,
.content-skills li {
  padding: 0 !important;
  list-style: none;
}
.content-skills h4 {
  text-transform: uppercase;
  text-decoration: underline;
}
.post-content {
  font-size: 18px;
  padding: 20px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.post-title {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #000000;
}
@media (max-width: 768px) {
  .post-title {
    font-weight: bold;
  }
}
.content-posts time {
  text-align: right;
  font-size: 15px;
  color: #818181;
}
@media (max-width: 1200px) {
  .content-posts time {
    text-align: left;
  }
}
.content-posts city {
  font-size: 15px;
  color: #818181;
}
.content-list ul li {
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 18px;
}
.content-contact-minor li {
  color: #585858;
  font-size: 14px;
}
#informations h4 {
  font-weight: bold;
}
a.content-download-button {
  margin-top: 50px;
  padding: 10px;
  margin-bottom: 20px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  color: #ffffff !important;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-style: bold !important;
}
a:hover.content-download-button {
  background-color: #ec752b;
}
/*#######################*/
/*#        FOOTER       #*/
/*#######################*/
footer {
  text-align: center;
  background-color: #000000;
  color: #808080;
}
footer a {
  color: #73181e;
}
footer a:hover {
  color: #ec752b;
}
