html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  /*background-color: #303030;*/
  background-color: #ffff00;
  /* #131313;*/
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 18px;
  height: 100%;
  width: 100%;
  overflow: auto;
}
body a {
  color: #BB5A2D;
}
body a:hover {
  color: #C72B24;
  text-decoration: none;
}
table {
  margin-left: auto;
  margin-right: auto;
}
td img,
th img {
  padding: 10px;
  text-align: center;
}
.colonne {
  padding: 0;
}
.fast-anim {
  transition: all 600ms ;
  /*browser specific versions*/
  -moz-transition: all 600ms ;
  -ms-transition: all 600ms ;
  -webkit-transition: all 600ms ;
  -o-transition: all 600ms ;
}
.italique {
  font-style: italic;
}
.bold {
  font-style: bold;
}
.twitter-color a:hover {
  color: #4099FF;
}
.mail-color a:hover {
  color: red;
}
.linkedin-color a:hover {
  color: #4875B4;
}
.github-color a:hover {
  color: #FEA43A;
}
/*###### MENU ######*/
#cv-menu {
  color: white;
  height: 100%;
  z-index: 9999;
}
.cv-menu-background-image {
  /*  
	height: 100%;
		position: fixed;
  	display: block;
	width: 25%;*/
  display: none;
}
.cv-menu a {
  transition: all 300ms ease-in-out;
  /*browser specific versions*/
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.cv-menu a:hover {
  /*	color: #BB5A2D;
*/
  transform: transition(-5 Opx, 0px);
  /*browser specific versions*/
  -moz-transform: transition(-5 Opx, 0px);
  -ms-transform: transition(-5 Opx, 0px);
  -webkit-transform: transition(-5 Opx, 0px);
  -o-transform: transition(-5 Opx, 0px);
}
.profile_photo {
  background-image: url(../images/profile_photo.jpg);
  background-repeat: no-repeat;
  background-size: 180px 180px;
  height: 180px;
  width: 180px;
  margin-top: 50px;
  /*margin-bottom: 60px;*/
  margin-right: auto;
  margin-left: auto;
  display: block;
  border-radius: 100%;
  border-radius: 4px solid #e5e5e5;
}
a:hover.profile_photo {
  background-position: center;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  background-color: white;
  background-image: url(images/profile_photo_osxbricks.png);
  background-size: 150px 150px;
}
.cv-menu-title {
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
}
.cv-menu-social {
  padding: 0px;
  width: 100%;
  text-align: center;
  font-size: 25px;
}
.cv-menu-social li {
  display: inline-block;
  margin: 2.5px;
  list-style: none;
}
.cv-menu-description {
  text-align: center;
  font-size: 18px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #9A9A9A;
  margin-bottom: 40px;
}
ul.cv-menu-nav {
  margin-top: 20px;
  /*	width: 22%;
*/
  text-align: right;
}
.cv-menu-nav li {
  list-style-type: none;
  margin: 8px;
  margin-top: 0px;
  font-weight: 300;
  font-size: 24px;
  margin-right: 12px;
}
.cv-menu-nav li:hover {
  text-decoration: none;
  font-size: 26px;
  font-size: 30px;
}
/*####### Content #######*/
.cv-content-quote {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: justify;
  font-weight: 300;
  font-size: 16px;
  color: #9A9A9A;
  padding: 40px;
}
.cv-content {
  padding: 20px 10px 20px 60px;
  color: black;
  background-color: white;
}
h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-style: bold;
  border-bottom: 1px solid #e5e5e5;
}
.skills_section {
  text-align: center;
  list-style: none;
}
.skills_section h3 {
  margin: 10px;
  text-decoration: underline;
  text-transform: uppercase;
}
.skills_section h4 {
  padding-right: 25px;
  text-transform: uppercase;
  font-weight: bold;
}
.skills_section ul,
.skills_section li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
.cv-content-posts {
  padding: 30px;
  /*border-top: 1px solid #e5e5e5;*/
  margin-bottom: 10px;
  list-style-type: none;
}
.post-content {
  font-size: 14px;
  padding: 20px;
}
.post-title {
  font-size: 22px;
}
.cv-content-posts time {
  text-align: right;
  font-size: 15px;
  color: #818181;
}
.cv-content-posts city {
  font-size: 15px;
  color: #818181;
}
.cv-content-list ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
.cv-content-list ul li i {
  color: black;
}
.progress div.color1 {
  background-color: #E46B30;
}
.progress div.color2 {
  background-color: #E46B31;
}
.progress div {
  /*	text-align: left;
*/
  /*	background-color: green;
*/
}
.progress div span {
  /*	margin-left: 10px;
*/
}
.cv-content-contact-minor li {
  color: #585858;
  font-size: 14px;
}
.cv-content-download-button {
  margin-top: 50px;
  padding: 10px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border-radius: 5px;
  text-align: center;
}
/* footer */
.cv-footer {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-align: center;
  clear: both;
  background-color: black;
  opacity: 1;
  z-index: 9999;
  width: 100%;
  padding: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #9b9b9b;
}
/* responsive */
@media (max-width: 1200px) {
  .cv-content-posts time {
    text-align: left;
  }
}
@media (max-width: 1200px) and (max-width: 768px) {
  ul.cv-menu-nav {
    display: none;
  }
}
@media (min-width: 768px) {
  #cv-menu {
    position: fixed;
    left: 0;
    right: 0;
    width: 25%;
  }
  .cv-menu-background-image {
    height: 100%;
    position: fixed;
    display: block;
    width: 25%;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url(../images/left-wallpaper-little.jpg);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.2;
  }
}
/* Flags */
.flag {
  width: 16px;
  height: 11px;
  background: url(images/flags.png) no-repeat;
}
.flag.flag-es {
  background-position: -16px 0;
}
.flag.flag-fr {
  background-position: 0 -11px;
}
.flag.flag-gb {
  background-position: -16px -11px;
}
