<!-- Panel -->

<div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
  <div id="panel" > 
    
    {% if site.blog_url %}
      <a target="_blank" href="{{ site.blog_url }}">
    {% endif %}
    <div  class="panel-avatar"></div>
    {% if site.blog_url %}
      </a>
    {% endif %}
    

    <h1 class="panel-name">{{ site.name  }}</h1>
    <ul class="panel-social">
      {% if site.email %}<li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope-square"></i></a></li>{% endif %}
      {% if site.linkedin %}<li><a href="http://fr.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin-square" target="_blank"></i></a></li>{% endif %}

      {% if site.github %}<li><a href="https://github.com/{{site.github}}" target="_blank"><i class="fa fa-github-square" ></i></a></li>{% endif %}

      {% if site.twitter %}<li><a href="http://www.twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter-square"></i></a></li>{% endif %}
            {% if site.google %}<li class="noresponsiveMD"><a href="https://plus.google.com/+{{site.google}}" target="_blank"  ><i class="fa fa-google-plus-square"></i></a></li>{% endif %}
      {% if site.facebook %}<li><a href="https://www.facebook.com/{{site.facebook}}" target="_blank"  class="noresponsiveMD"><i class="fa fa-facebook-square"></i></a></li>{% endif %}
    </ul>
    <div class="panel-summary">{{ site.summary }}</div>
    <nav id="navbar"  role="navigation">
      <ul class="nav">
        {% if site.categories.experiences %}<li ><a class="scrollTo" href="#experiences">Experiences</a></li>{% endif %}
        {% if site.categories.projects %}<li><a class="scrollTo" href="#projects"> Projects</a></li>{% endif %}
        {% if site.custom_category_name and site.categories.customs %}
          <li><a class="scrollTo" href="#customs">{{site.custom_category_name}}</a></li>

        {% endif %}
        {% if site.categories.skills or site.skills %}<li><a class="scrollTo" href="#skills">Skills</a></li>{% endif %}
        {% if site.categories.educations %}<li><a class="scrollTo" href="#educations">Education</a></li>{% endif %}
        {% if site.categories.hobbies or site.hobbies %}<li><a class="scrollTo" href="#hobbies">Hobbies</a></li>{% endif %}
        <li><a href="#informations" >Informations</a></li>
      </ul>
    </nav>
  </div> 
  <div class="panel-background-image" ></div>

</div>