$oil             : #333;
$boba-red        : #73181E;
$boba-red-light  : #A62A2C;
$boba-orange     : #EC752B;/*#F7A641;*/
$boba-green      : #0C710F;
$boba-green-light: #1D9722;
$boba-red-light-o: #B12F34;
